{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Dashboard</h1>

    <div align="center">
    <form action="/add-url">
        <button align=center type="submit"  class="btn btn-primary">Add url</button>
    
  
    <br />


    </form>
      <br />
      </div>
    <div align="center">
      <form action="/stats">
        <button type="submit" class="btn btn-primary">Analytics</button>
        </form>
      </div>
      <br />
      <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %}
        <li class="list-group-item">
          {{ note.data }}
          <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
        {% endfor %}
      </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
      
    </form>
    {% endblock %}
    